/* https://loading.io/css/ */
.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.loader:after {
  content: " ";
  display: block;
  width: 36px;
  height: 36px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(100, 100, 100, 0.5);
  border-color: rgba(100, 100, 100, 0.5) rgba(200, 200, 200, 0.5)
    rgba(100, 100, 100, 0.5) transparent;
  animation: loader-anim 1.2s linear infinite;
}
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-big {
  width: 100px;
  height: 100px;
}

.loader-big:after {
  width: 78px;
  height: 78px;
  border-width: 10px;
}

.loader-small {
  width: 14px;
  height: 14px;
}

.loader-small:after {
  width: 11px;
  height: 11px;
  border-width: 2px;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

span.space {
  display: block;
  height: 0.8rem;
}

a.user-link {
  color: var(--color-main);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 0.9em;
}

.footer > div {
  margin: 0 10px;
  border: 1px solid var(--color-neutral);
  padding: 2px 5px;
  border-radius: 4px;
}

.message-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-ok);
  color: var(--color-light);
  padding: 5px;
}

.message-banner button {
  margin-left: 10px;
  color: var(--color-light);
  background-color: var(--color-main);
  border-color: var(--color-light);
}

.message-banner button:hover {
  background-color: var(--color-highlight);
}

.tabs {
  display: flex;
  border-bottom: 2px solid var(--color-main);
  margin-bottom: 5px;
}

.tabs .tab {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-main);
  border: 2px solid var(--color-neutral);
  border-top-left-radius: 8px;
  border-top-right-radius: 2px;
  border-bottom: none;
  padding: 5px;
  margin-right: 8px;
  background-color: var(--color-light);
  color: var(--color-neutral);
}

.tabs .tab.selected {
  background-color: transparent;
  color: var(--color-main);
  border-color: var(--color-main);
  box-shadow: 0 4px 0 -2px white;
}

button.button-sort {
  width: 22px;
  height: 20px;
  padding: 3px;
}

.button-sort > .none {
  width: 12px;
  height: 2px;
  background-color: var(--color-neutral);
}

.button-sort > .up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid var(--color-ok);
}

.button-sort > .down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--color-ok);
}

a.user-name-link {
  color: var(--color-ok);
  text-decoration: none;
}

a.user-name-link:hover {
  color: var(--color-highlight);
}
