.help-page {
	width: 360px;
	margin: auto;
	color: #555;
}

@media only screen and (min-width: 768px) {
	.help-page {
		width: 600px;
	}
}

.help-page h1,
.help-page h2 {
	font-weight: 500;
}

.help-row {
	display: flex;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.help-row .label {
	width: 70px;
	margin-right: 10px;
}