.avatar-profile {
	width: 120px;
	height: 120px;
}

.avatar-error {
	color: var(--color-danger);
}

.reset-password-link {
	text-decoration: underline;
}

.user-info-header {
	display: flex;
	align-items: flex-end;
}

.user-info {
	margin-left: 10px;
}

.user-info .username {
	font-size: 1.1rem;
	color: var(--color-main);
}