.App {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

input,
textarea {
  font-family: 'Roboto';
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid #999;
  border-radius: 6px;
  font-weight: 500;
  font-family: Roboto;
  color: #333;
  cursor: pointer;
}

button.small {
  border-radius: 4px;
  padding: 2px 5px;
}

button:hover {
  box-shadow: inset 0 0 0 20px rgba(100,100,100,0.2);
}

.button-delete {
	background-color: #dc3e3e;
	border-color: #af3535;
	color: #fff;
}

.button-edit {
	background-color: #779a87;
	border-color: #538e53;
	color: #fff;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header > div {
  padding: 10px;
}

.page-header a {
  text-decoration: none;
  color: steelblue;
}

.page-header a:hover {
  color: #3ca6ff;
}

.account-area > a {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

.sign-out-button {
  cursor: pointer;
  color: #cc7d00;
}

.sign-out-button:hover {
  color: #ff9c00;
}

.profile-container {
  max-width: 400px;
  margin: auto;
}

.profile-container > div {
  margin: 10px 0;
}

.profile-container .display-name-input {
  padding: 5px;
  width: 300px;
}

.reset-password-link {
  color: steelblue;
  cursor: pointer;
}

.reset-password-link:hover {
  color: seagreen;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* https://loading.io/css/ */
.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.loader:after {
  content: " ";
  display: block;
  width: 36px;
  height: 36px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(100, 100, 100, 0.5);
  border-color: rgba(100, 100, 100, 0.5) rgba(200,200,200,0.5) rgba(100, 100, 100, 0.5) transparent;
  animation: loader-anim 1.2s linear infinite;
}
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader-big {
  width: 100px;
  height: 100px;
}

.loader-big:after {
  width: 78px;
  height: 78px;
  border-width: 10px;
}

.loader-small {
  width: 14px;
  height: 14px;
}

.loader-small:after {
  width: 11px;
  height: 11px;
  border-width: 2px;
}