.App {
  font-size: 16px;
}

.sign-out-button {
  display: block;
  width: 120px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}

.sign-out-button:hover {
  background-color: #eee;
}